<div class="eds-c-card__inner eds-c-card__inner--white-bg">
    {{> elements-components-templates/eds-c-card/partials/eds-c-cardBody }}
    <div class="eds-c-card__icon-container">
        <svg class="eds-c-card__icon" aria-hidden="true" focusable="false">
            <use xlink:href="{{iconURL}}"></use>
        </svg>
    </div>
</div>