 <div class="eds-c-header-new-expander__action-dropdown eds-c-header-new-expander__action-dropdown--search" id="eds-c-header-new-search" data-eds-c-header-new-expander-append>
    <div class="u-container">
        {{> elements-components-templates/eds-c-header-new/partials/eds-c-header-new-search }}
    </div>
</div>