<div class="eds-c-hero__access">
    <svg class="eds-c-hero__access-icon" aria-hidden="true" focusable="false">
        <title>{{svgTitle}}</title>
        <use xlink:href="{{iconURL}}"></use>
	</svg>
    <p class="eds-c-hero__access-text">{{text}}</p>
</div>
