<dialog id="{{id}}" class="eds-c-modal" aria-modal="true" aria-labelledby="eds-c-modal-title" aria-describedby="eds-c-modal-description">
    <div class="eds-c-modal__content">
        <div class="eds-c-modal__header">
				{{#with closeButton}}
					<div class="eds-c-modal__dismiss" data-component-modal-close>
						{{> elements-components-templates/eds-c-button/eds-c-button }}
					</div>
				{{/with}}
					<div id="eds-c-modal-title" class="eds-c-modal__title">{{title}}</div>
        </div>
        <div class="eds-c-modal__body" id="eds-c-modal-description">
            <p>{{{description}}}</p>
        </div>
        <div class="eds-c-modal__footer" data-component-modal-close {{> elements-components-templates/eds-c-data-attributes/eds-c-data-attributes }}>
            {{#each buttons}}
                {{> elements-components-templates/eds-c-button/eds-c-button }}
            {{/each}}
        </div>
    </div>
</dialog>
