---
layout: layout.hbs
permalink: /es/index.html
---
<div class="u-layout-focus app-content-centered">
        <h1 class="u-text-center app-claim">Tenemos el poder de comenzar el mundo de nuevo</h1>
        <p class="u-text-center app-draft">Dot-Public BORRADOR 2.12</p>

        <h2>Problema</h2>
        <p>Los servicios digitales que ahora sostienen nuestras instituciones públicas, culturales y educativas
        no fueron diseñados teniendo en cuenta sus necesidades. En cambio, priorizan incentivos comerciales:
        escala, alcance, extracción de datos y bloqueo propietario, por encima del propósito público.
        En consecuencia, las organizaciones dedicadas a salvaguardar el conocimiento y servir a la sociedad
        se ven obligadas a operar en entornos optimizados para el beneficio, no para las personas.</p>

        <h2>Propuesta</h2>
        <p>Dot-Public es una zona administrada de Internet: un espacio neutral y verificable regido por
        reglas públicas donde los servicios pueden crearse y mantenerse sin compromisos.</p>
</div>
