<div class="eds-c-card-composable__body eds-c-card-composable__body-journal">
    {{#if picture}}
        <div class="eds-c-card-composable__journal-cover">
            {{> elements-components-templates/eds-c-card-composable/partials/eds-c-card-composable-picture }}
        </div>
    {{/if}}
    <div class="eds-c-card-composable__content eds-c-card-composable__journal-title">
        {{> elements-components-templates/eds-c-card-composable/partials/eds-c-card-composable-header }}
    </div>
    <div class="eds-c-card-composable__journal-description">
        {{> elements-components-templates/eds-c-card-composable/partials/eds-c-card-composable-summary }}
    </div>
</div>