<div class="eds-c-card-composable__body">
	<div class="eds-c-card-composable__content">
        {{> elements-components-templates/eds-c-card-composable/partials/eds-c-card-composable-header }}
        {{> elements-components-templates/eds-c-card-composable/partials/eds-c-card-composable-summary }}
	</div>
</div>