<dl class="eds-c-card-composable__metadata-list{{#if isMetadataHorizontal}} eds-c-card-composable__metadata-list-horizontal{{/if}}">
    {{#each metadata }}
        <div>
            <dt class="eds-c-card-composable__metadata-list-title">{{title}}</dt>
            <dd class="eds-c-card-composable__metadata-list-description">{{text}}</dd>
        </div>
    {{/each}}
</dl>