---
layout: layout.hbs
permalink: /ga/index.html
---
<div class="u-layout-focus app-content-centered">
        <h1 class="u-text-center app-claim">Tá sé inár gcumhacht tosú arís ar an domhan</h1>
        <p class="u-text-center app-draft">Dot-Public DRÉACHT 2.12</p>

        <h2>Fadhb</h2>
        <p>Ní dhearnadh na seirbhísí digiteacha a thacaíonn anois lenár n-institiúidí poiblí, cultúrtha
        agus oideachais agus a riachtanais san áireamh. Ina ionad sin, tugann siad tosaíocht do dhreasachtaí
        tráchtála - scála, rochtain, eastóscadh sonraí, agus glasáil dílseánaigh - thar chuspóir poiblí.</p>

        <h2>Togra</h2>
        <p>Is crios riarachán d'Idirlíon é Dot-Public: spás neodrach, infhíoraithe arna rialú ag rialacha
        poiblí inar féidir seirbhísí a chruthú agus a chothabháil gan chomhréiteach.</p>
</div>
