{{#> eds-c-card-composable}}
    <div class="eds-c-card-composable__container eds-c-card-composable__container--with-sidebar">
        {{> elements-components-templates/eds-c-card-composable/partials/eds-c-card-composable-body }}
        {{> elements-components-templates/eds-c-card-composable/partials/eds-c-card-composable-icon }}
    </div>
{{/eds-c-card-composable}}