{{#> eds-c-card-composable}}
    <div class="eds-c-card-composable__container">
        {{> elements-components-templates/eds-c-card-composable/partials/eds-c-card-composable-image }}
        {{> elements-components-templates/eds-c-card-composable/partials/eds-c-card-composable-body }}
    </div>
{{/eds-c-card-composable}}