<footer>
	<div class="c-footer">
		{{#if productGroups}}
			{{! Partials locations are set dynamically in the data }}
			{{> elements-components-templates/footer/partials/product-footer }}
		{{/if}}
		{{! Partials locations are set dynamically in the data }}
		{{> elements-components-templates/footer/partials/corporate-footer }}
	</div>
</footer>